<div class="selected-user">
  <div class="field"><span>Id</span>: <span>{{user?.id}}</span></div>
  <div class="field"><span>Name</span>: <span>{{user?.name}}</span></div>
  <div class="field"><span>Username</span>: <span>{{user?.username}}</span></div>
  <div class="field"><span>Email</span>: <span>{{user?.email}}</span></div>
  <div class="field"><span>Phone</span>: <span>{{user?.phone}}</span></div>
  <div class="field"><span>Web Site</span>: <span>{{user?.website}}</span></div>
  <div class="field"><span>Address</span>: <span>{{user?.address?.city}} - {{user?.address?.zipcode}} ({{user?.address?.geo?.lat}}, {{user?.address?.geo?.lon)</span></div>
</div>
