<nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
    <li><a routerLink="/third-component" routerLinkActive="active" ariaCurrentWhenActive="page">Third Component</a></li>
    <li><a routerLink="/zoo" routerLinkActive="active" ariaCurrentWhenActive="page">Zoo (<em>lazy</em>)</a></li>
    <li><a routerLink="/zoo/sub" routerLinkActive="active" ariaCurrentWhenActive="page">Zoo Sub (<em>lazy</em>)</a></li>
    <li><a routerLink="/park" routerLinkActive="active" ariaCurrentWhenActive="page">Park (<em>lazy</em>)</a></li>
    <li><a routerLink="/first-form" routerLinkActive="active" ariaCurrentWhenActive="page">First Form (<em>reactive</em>)</a></li>
  </ul>
</nav>
