<div class="first-form">
  <label for="firstName">Name: </label>
  <input id="firstName" type="text" [formControl]="firstName">

  <label for="username">username: </label>
  <input id="username" type="text" [formControl]="username">

  <div *ngIf="username.invalid && (username.dirty || username.touched)"
       class="alert alert-danger">

    <div *ngIf="username.errors?.['required']">
      Name is required.
    </div>
    <div *ngIf="username.errors?.['minlength']">
      Name must be at least 5 characters long.
    </div>
    <div *ngIf="username.errors?.['invalidUsername']">
      Name cannot be 'invalid'.
    </div>
  </div>

  <p>
    First Name: {{ firstName.value }}
  </p>

  <p>
    First Name: {{ username.value }} <---> {{ username.valueChanges | async }}
  </p>

  <div>
    <button (click)="reset()">Reset</button>
    <button (click)="setPietro()">pietrom</button>
  </div>
  <div>
    <button (click)="showValues()">Show values</button>
  </div>
</div>
